html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  background-color: #F5F6F8;
  min-height: 100vh;
  min-width:  100vw;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  --gray-light:#EBEBEB;
  --black: #3b434e;
  --white: white;
  --primary: #7653fc;
  --red: #de0000;
  --green:#1DC37E;
  --green-light:#C8F8E4;
}
